#my-gif-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    z-index: 999999;
    transform: scaleX(1);
    pointer-events: none;
    /* animation: move = animation name, 16s = animation duration, linear = animation timing function, 2s = animation delay, infinite = animation iterations, normal = animation direction */
    animation: move 16s linear 0s infinite normal; 
    
    
}


@keyframes move {
   0%   { left: 100vw; top:0px; }
   50%  { left:100vw; top:0px; }
   100% { left: 100vw; top:0px; }
}
